.product-description {
  color: var(--ion-color-medium);
  font-size: 0.9rem;
  margin: 10px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: 2; /* Agregamos esta línea estándar */
}

.product-image {
  height: 200px;
  object-fit: cover;
  width: 100%;
  cursor: pointer;
}
